:root {
    --primary: #375a7f;
    --secondary: #444;
    --success: #00bc8c;
    --info: #3498db;
    --warning: #f39c12;
    --danger: #e74c3c;
    --light: #adb5bd;
    --dark: #303030;
    --primaryText: #162433;
    --secondaryText: #1b1b1b;
    --successText: #004b38;
    --infoText: #153d58;
    --warningText: #613e07;
    --dangerText: #5c1e18;
    --lightText: #fff;
    --darkText: #444;
    --bodyBg: #222;
    --bodyColor: #fff;
    --emphasisColor: #000;
    --secondaryColor: rgba(255, 255, 255, 0.75);
    --tertiaryColor: rgba(255, 255, 255, 0.5);
    --bodyBgSubtle: #222;
    --secondaryBgSubtle: #303030;
    --successBgSubtle: #00261c;
    --infoBgSubtle: #0a1e2c;
    --warningBgSubtle: #311f04;
    --dangerBgSubtle: #2e0f0c;
    --lightBgSubtle: #303030;
    --darkBgSubtle: #181818;
    --primaryBorderSubtle: #21364c;
    --secondaryBorderSubtle: #292929;
    --successBorderSubtle: #007154;
    --infoBorderSubtle: #1f5b83;
    --warningBorderSubtle: #925e0b;
    --dangerBorderSubtle: #8b2e24;
    --lightBorderSubtle: #444;
    --darkBorderSubtle: #303030;
    --linkColor: #00bc8c;
    --linkHoverColor: #009670;
    --codeColor: #e83e8c;
    --highlightColor: #fff;
    --highlightBg: #fdebd0;
    --borderColor: #dee2e6;
    --borderColorTranslucent: rgba(0, 0, 0, 0.175);
    --formValidColor: #00bc8c;
    --formValidBorderColor: #00bc8c;
    --formInvalidColor: #e74c3c;
    --formInvalidBorderColor: #e74c3c;
  }